    /* *{
        font-family: 'Lato', sans-serif;
        color: #202020
    } */
    
    body{
        margin: 0px;
        padding: 0px;
        background-color: honeydew;
        ;
      }
        #terminal{
          /* margin-left: 10rem; */
          padding-left: 10px;
          font-weight: bold;
          width:90%;
          height:100Vh;
          font-family:monospace;
        }
        #main{
          height: 50vh;
        }
        input{
          background:honeydew;
          color:inherit;
          border:transparent;
          outline: none;
          border-bottom: 3px solid rgb(48, 47, 47);
        }
        #go{
          cursor: pointer;
        }
        #aboutDetails{
            text-align: justify;
        }
        @media (max-width:1000px) {
  
          #terminal{
            padding-left: 0px;
            width:100%;
          }
  
  
        }
     