<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.rawgit.com/josephg/noisejs/master/perlin.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r124/three.js"></script>
    <script src="https://82mou.github.io/threejs/js/OrbitControls.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/gsap.min.js"></script>
    <link rel="stylesheet" href="../../static/CSS/about.css">
</head>
<body>
  
    <div class="parent">
        <div class="produt-details">
            <h2 class="title">Welcome to RankByte</h2>
           <div class="product-details-paragraph">
            <p class=""> RankByte is built by the Team DeadSec.bat,<br>The product is working on RankNet Algorithm which 
                train the network of Dataset's and put the ranking of colleges in a way where the Student-Faculty ratio,
                hostel facilites and Laboratory facilites are taken as the variables for the recomendation of the colleges 
                of each and every domain 
            </p>
           </div>
           <div class="team">
               <p>For team Details <a href="/team">Click Me !</a></p>
            </div>
        </div>
    </div>
<script src="../../static/JS/aboutJSText.js" ></script>
<script src="../../static/JS/about.js" type="module"></script>

</body>
</html>
