<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../../static/CSS/about.css">
</head>
<body>
    <div id="terminal">
        <!-- <img src="https://letscelebratenow.000webhostapp.com/images/kaali2.jpg" alt="kali" width=80%> -->
        </br>
      --------------------------------------------------------------------
      </br>
      WELCOME TO RANKBYTE TERMINAL </br>
      Type List to get all the supported commands</br>
      First letter in capital and after writing commands please click on go</br>
      --------------------------------------------------------------------
    </br>
      <div id="main">
      </div>
    </div>
    <script src="../../static/JS/about.js"></script>
</body>
</html>
