<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../../static/CSS/about.css">
</head>
<body>
  <canvas id="c"></canvas>

<div class="main-container">
    <progress id="progress" value="1" max="100" class="hidden"></progress>
    <textarea id="textArea" disabled>
    </textarea>
   
    <form id="submitForm">
        <input id="myInput" type="text" disabled="true">
    </form>
</div>

    <!-- DOnt Delete this code  
      <div id="terminal">
     </br>
      --------------------------------------------------------------------
      </br>
      WELCOME TO RANKBYTE TERMINAL </br>
      Type List to get all the supported commands</br>
      First letter in capital and after writing commands please click on go</br>
      --------------------------------------------------------------------
    </br>
      <div id="main">
      </div>
    </div> -->
    <script src="../../static/JS/about.js"></script>
</body>
</html>
