<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View</title>
    <link rel="stylesheet" href="../../static/CSS/table.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.20.0/js/mdb.min.js"
            integrity="sha512-XFd1m0eHgU1F05yOmuzEklFHtiacLVbtdBufAyZwFR0zfcq7vc6iJuxerGPyVFOXlPGgM8Uhem9gwzMI8SJ5uw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>

{#<div class="table-responsive">#}
{#    <table class="table table-striped">#}
{#        <br>#}
{#        <h1 style="color:blue">View Colleges List</h1><br>#}
{#        <thead>#}
{#        <tr>#}
{#            <th>Sr no</th>#}
{#            <th>State Name</th>#}
{#            <th>District Name</th>#}
{#            <th>University Name</th>#}
{#            <th>College Name</th>#}
{#            <th>Total Student Enrollment</th>#}
{#            <th>Total Teachers</th>#}
{#            <th>Lab Facilities</th>#}
{#            <th>Hostel Facilities</th>#}
{#        </tr>#}
{#        </thead>#}
{##}
{#        {% for values in college_vo_list %}#}
{#            <tbody>#}
{#            <tr>#}
{#                <th scope="row">{{ values.SL_NO }}</th>#}
{#                <td>{{ values.STATE_NAME }}</td>#}
{#                <td>{{ values.DISTRICT_NAME }}</td>#}
{#                <td>{{ values.UNIVERSITY_NAME }}</td>#}
{#                <td>{{ values.COLLEGE_NAME }}</td>#}
{#                <td>{{ values.STUDENT_ENROLMENT_TOTAL }}</td>#}
{#                <td>{{ values.NUMBER_OF_TEACHER_TOTAL }}</td>#}
{#                <td>{{ values.LAB_FACILITIES }}</td>#}
{#                <td>{{ values.HOSTEL_FACILITIES }}</td>#}
{#            </tr>#}
{#            </tbody>#}
{#        {% endfor %}#}
{#    </table>#}
{#</div>#}
{#</body>#}
{#</html>#}


<h1>List of all colleges</h1>
    <div class="table-responsive">
  <table class="table table-striped">


      <tr>
          <th>Sr no</th>
          <th>State Name</th>
          <th>District Name</th>
          <th>University Name</th>
          <th>College Name</th>
          <th>Total Student Enrollment</th>
          <th>Total Teachers</th>
          <th>Lab Facilities</th>
          <th>Hostel Facilities</th>
      </tr>

      {% for values in college_vo_list %}

          <tr>
              <td scope="row">{{ values.SL_NO }}</td>
              <td>{{ values.STATE_NAME }}</td>
              <td>{{ values.DISTRICT_NAME }}</td>
              <td>{{ values.UNIVERSITY_NAME }}</td>
              <td>{{ values.COLLEGE_NAME }}</td>
              <td>{{ values.STUDENT_ENROLMENT_TOTAL }}</td>
              <td>{{ values.NUMBER_OF_TEACHER_TOTAL }}</td>
              <td>{{ values.LAB_FACILITIES }}</td>
              <td>{{ values.HOSTEL_FACILITIES }}</td>
          </tr>

      {% endfor %}
  </table>
</div>
</body>
</html>